/* 商品页面专用CSS */

.cp_main_outer{
    width: 1090px;
    margin: 0 auto;
}

.cp_main_top{
    font-size: 12px;
    color: #333;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cp_main_top_arr{
    margin-left: 7px;
    margin-right: 7px;
    margin: 0 5px;
    background-position: 0 -1055px;
    height: 11px;
    width: 5px;
    background-image: url(../images/z-2.png);
    background-repeat: no-repeat;
}

.cp_main_under{
    padding: 0 0 80px;
}


.cp_buybox{
    height: 499px;
}

.cp_buybox_show{
    float: left;
    width: 524px;
    overflow: hidden;
}

.cp_buybox_info{
    float: right;
    width: 566px;
    padding-left: 62px;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
}

.show_L{
    position: relative;
    float: left;
    width: 430px;
    height: 430px;
    border: 1px solid #e8e8e8;
    margin-right: 14px;
}

.show_L img{
    display: block;
    width: 428px;
    height: 428px;
    background-color: #f4f4f4;
}

.show_S{
    float: right;
    overflow: hidden;
}

.show_S ul{
    position: relative;
}

.show_S .show_s_list{
    width: 78px;
    height: 78px;
    overflow: hidden;
    margin-bottom: 10px;
    vertical-align: top;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.show_S .show_s_list img{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.show_S .show_s_list:hover{
    border: 2px solid #b4a078;
}

.info_top{
    overflow: hidden;
    margin-bottom: 20px;
}

.info_toptag{
    overflow: hidden;
    width: 100%;
}

.info_toptagA{
    display: block;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    height: 20px;
    margin-bottom: 10px;
    line-height: 18px;
    float: left;
    margin-right: 10px;
    background-color: #b4a078;
    border: 1px solid rgba(180,160,120,.3);
}

.info_topname{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 7px;
    position: relative;
}

.info_topdescribe{
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.info_middle{
    background-color: #f5f3ef;
    border-top: 1px dotted #dedede;
    border-bottom: 1px dotted #dedede;
    padding: 0 0 13px;
    line-height: 24px;
    font-size: 13px;
    position: relative;
}

.info_middle_price{
    height: 45px;
    margin-bottom: 5px;
    overflow: hidden;
    zoom: 1;
    float: left;
    
}

.info_middle_title{
    width: 55px;
    font-size: 13px;
    float: left;
    color: #666;
    margin-left: 10px;
}

.info_middle_title1{
    line-height: 30px;
    margin-top: 16px;
}

.info_middle_red{
    font-size: 18px;
    font-weight: 700;
    margin-right: 1px;
    margin-top: 13px;
    margin-left: 0;
    height: 30px;
    float: left;
}

.info_middle_redRMB{
    margin-left: 0;
    line-height: 30px;
    color: #d7282d;
    font-size: 18px;
}

.info_middle_redNUM{
    font-size: 28px;
    line-height: 30px;
    margin-left: 2px;
    color: #d7282d;
}

.info_middle_mem{
    padding-left: 7px;
    height: 22px;
    font-size: 13px;
    margin-top: 21px;
    margin-bottom: 3px;
    float: left;
    line-height: 22px;
}

.info_middle_title2{
    line-height: 28px;
}

.info_middle hr{
    margin: 10px 20px 10px 10px;
    overflow: hidden;
    border: none;
    height: 1px;
    border-bottom: 1px dashed #d2d2d2;
}

.info_server{
    padding-top: 2px;
    line-height: 20px;
    color: #666;
}

.info_server .serverText{
    float: left;
    cursor: pointer;
}

.info_bottom_pic_outer{
    margin-top: 20px;
    height: 67px;
}

.info_bottom_pic_inner{
    margin-top: 10px;
    position: relative;
    line-height: 1;
    height: 67px;
}

.info_bottom_picbox{
    position: relative;
    width: 438px;
    float: left;
}

.info_bottom_picbox ul .info_picboxlist{
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
    padding: 1px;
}

.info_picboxlist a{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    float: left;
    cursor: pointer;
    position: relative;
    display: block;
}

.info_bottom_picbox ul .info_picboxlist a img{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.info_bottom_picbox ul .info_picboxlist .info_bottom_pic_active{
    margin: 0;
    border: 2px solid #b4a078;
}

.info_bottom_number{
    margin-top: 10px;
    height: 39px;
}

.info_number_box{
    border: 1px solid #ddd;
}

.info_number_box span{
    position: relative;
    float: left;
    width: 36px;
    height: 30px;
    line-height: 28px;
    background: #fff;
}

.number_l{
    border-right: 1px solid #ddd;
}

.number_r{
    border-left: 1px solid #ddd;    
}