/* 页面整体样式 */

header,
footer,
section,
aside,
article,
nav,
hgroup,
figure,
figcaption,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
form,
p,
dl,
dt,
dd,
blockquote,
legend,
table,
th,
td,
fieldset,
menu,
pre,
button {
  margin: 0;
  padding: 0;
  outline: 0;
}

div {
  display: block;
}

ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a{
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}

/* header部分样式 */